.center {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &--horizontal {
    margin-left: auto;
    margin-right: auto;
  }

  &--vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &--text {
    text-align: center;

  }
}

.float{
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

$directions: top bottom left right;
.no-margin {
  margin: 0 !important;
  @each $direction in $directions {
    &--#{$direction} {
      margin-#{$direction}: 0 !important;
    }
  }
}

.no-padding {
  padding: 0 !important;
  @each $direction in $directions {
    &--#{$direction} {
      padding-#{$direction}: 0 !important;
    }
  }
}



.row {
  width: 100%;
}

@for $i from 1 through 16 {
  .col-#{$i} {
    width: (100% * $i/16);
    float: left;
  }
}
